<section data-ng-controller="BuildsController" data-ng-init="find()">
    <div class="row">

      <!-- Middle column -->
      <div class="col-sm-4 col-sm-push-4">
        <accordion data-close-others="true">
          <accordion-group data-ng-repeat="job in jobs">
            <accordion-heading>{{ job.name }}</accordion-heading>
            <div class="skill-grid">
              <yd-skill
                data-ng-repeat="sicon in sicons | filter:{ skill: { job: { _id: job._id } } }"
                data-sicon="sicon"
                data-build="build">
              </yd-skill>
            </div>
          </accordion-group>
        </accordion>
      </div>

      <!-- Left column -->
      <div class="col-sm-4 col-sm-pull-4">

        <!-- Character Level Input -->
        <div class="panel input-group">
          <span class="input-group-addon">Level</span>
          <input class="form-control"
            type="number"
            data-ng-model="build.level"
            data-ng-change="calc_sp_limit()"/>
        </div>

        <!-- SP Panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            SP Total
            <span class="badge pull-right">0/{{ sp_total }}</span>
          </div>
          <div class="panel-body">
            <span data-ng-repeat="job in jobs">
              {{ job.name }} <span class="badge pull-right">0/{{ sp_limit[$index] }}</span></br>
            </span>
          </div>
        </div>

        <!-- Warnings Panel -->
        <div class="panel panel-default">
          <div class="panel-heading">Warnings</div>
          <div class="panel-body">
            Warnings
          </div>
        </div>
      </div>

    <!-- Right column -->
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Skill Info
          <button class="btn btn-default btn-xs pull-right" ng-click="pve = !pve">{{ pve ? 'PvE' : 'PvP' }}</button>
        </div>

        <div class="panel-body">
          <yd-info data-sicon="build.active" data-pve="pve"></yd-info>
        </div>
      </div>
    </div>

    </div>
</section>